.heading{
    font-size: 23px;
    width:100%;
    margin: 0px;
}
.note{
    font-size: 15px;
    color:black;
}
body{
    background-size: cover;
}
.divSpeed{
    float: left;
}
.divSpeedImg{
    width: 200px;
    border-radius: 100px;
}
#speed{
    font-size: 24px;
    margin: 15px;
}
.div_Volume{
    float:right;
}
.div_VolumeImg{
    width : 200px;
    border-radius: 100px;
}
#Volume{
    font-size:23px;
    margin:15px;
}
canvas{
    border: 5px solid blueviolet;

}